.container {
  width: 720px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  border: 5px solid #efefef;
  border-radius: 10px;
  width: 720px;
}
