.container {
  width: 700px;
  height: 400px;
  margin-left: 25px;
  border: 5px solid black;
  border-radius: 10px;
  margin-top: 10px;
  font-size: 30px;
}
.header {
  display: flex;
  height: 68px;
  justify-content: space-between;
  align-items: center;
}

.line {
  width: 700px;
  height: 5px;
  background-color: black;
}

.content {
  height: 332px;
  display: flex;
  align-items: center;
}

.left {
  width: 450px;
  height: 300px;
}

.right {
  width: 250px;
}
.text {
  height: 250px;
  margin-left: 10px;
}

.btns {
  margin-left: 10px;
  display: flex;
  justify-content: space-around;
}
