.container {
  display: flex;
  height: 80px;
  align-items: center;
  border: 5px solid black;
  border-radius: 5px;
  width: 720px;
  margin-top: 10px;
  justify-content: space-between;
}

.left {
  margin-left: 10px;
}

.right {
  margin-right: 10px;
}
